<div class="nav d-flex " >

    <div class="logo  d-flex">
     
    <img src="../../../assets/images/shopify.png" alt="Cart Image" >

    <h3 style="margin-top:56px; font-weight:bold; font-family: Arial, Helvetica, sans-serif; font-size:large"  >Shopify</h3>
    </div>
   

  
  <div class="nav_links" style="margin-left: 3%;" >
    <ul>
       <li class="item"><a href="#">Home</a></li>
       <li class="item"><a href="#"> Services</a></li>
       <li class="item"><a href="#">About Us</a></li>
       <li class="item"><a href="#">Contact Us</a></li>

     </ul>
    </div>

  
 </div>

 
 <section id="home">


    

    <button class="btn" (click)="travelToRegister()">Get Started</button>






</section>

<br>
<br>


<!-- <div class="view_area  container" >
  <h3>Top Products/Offers</h3>
  <br>
  <div class ="view_area_content d-flex justify-content-evenl">

  <img src="">
  <img src="">
  <img src=" ">
  </div>
   
</div> -->

<div class="travel_btn_section  container text-center d-flex justify-content-evenly">

  <button class="btn btn-warning" (click)="travelToRegister()">Register</button>
  <button class="btn btn-warning" (click)="travelToLogin()">login</button>
  

</div>